# Dependencies & builds
node_modules/
.next/
dist/
build/
.cache/
.turbo/
coverage/

# Env & local
.env
.env.*
*.log

# Prisma
.prisma/

# OS junk
.DS_Store
Thumbs.db

# Secrets
client_secret_*.json
*.pem
*.key

