CREATE TABLE bog_gel_raw_893486000 (
  "id" BIGINT DEFAULT nextval('bog_gel_raw_893486000_id_seq'::regclass) NOT NULL,
  "uuid" UUID NOT NULL,
  "cancopydocument" TEXT,
  "canviewdocument" TEXT,
  "canprintdocument" TEXT,
  "isreval" TEXT,
  "docnomination" TEXT,
  "docinformation" TEXT,
  "docsrcamt" TEXT,
  "docsrcccy" TEXT,
  "docdstamt" TEXT,
  "docdstccy" TEXT,
  "dockey" TEXT,
  "docrecdate" TEXT,
  "docbranch" TEXT,
  "docdepartment" TEXT,
  "docprodgroup" TEXT,
  "docno" TEXT,
  "docvaluedate" TEXT,
  "docsendername" TEXT,
  "docsenderinn" TEXT,
  "docsenderacctno" TEXT,
  "docsenderbic" TEXT,
  "docactualdate" TEXT,
  "doccoracct" TEXT,
  "doccorbic" TEXT,
  "doccorbankname" TEXT,
  "entriesid" TEXT,
  "doccomment" TEXT,
  "ccyrate" TEXT,
  "entrypdate" TEXT,
  "entrydocno" TEXT,
  "entrylacct" TEXT,
  "entrylacctold" TEXT,
  "entrydbamt" TEXT,
  "entrydbamtbase" TEXT,
  "entrycramt" TEXT,
  "entrycramtbase" TEXT,
  "outbalance" TEXT,
  "entryamtbase" TEXT,
  "entrycomment" TEXT,
  "entrydepartment" TEXT,
  "entryacctpoint" TEXT,
  "docsenderbicname" TEXT,
  "docbenefname" TEXT,
  "docbenefinn" TEXT,
  "docbenefacctno" TEXT,
  "docbenefbic" TEXT,
  "docbenefbicname" TEXT,
  "docpayername" TEXT,
  "docpayerinn" TEXT,
  "import_batch_id" TEXT,
  "import_date" TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,
  "is_processed" BOOLEAN DEFAULT false NOT NULL,
  "created_at" TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,
  "updated_at" TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL
);

ALTER TABLE bog_gel_raw_893486000 ADD PRIMARY KEY ("id");
